<footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->

    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-content">
                            <div class="logo-footer">
                                <div>
                                    <img width="30" height="30" src="/img/codericon.svg"
                                         href="~/img/codericon.svg" />

                                </div>

                            </div>
                            <p>
                                Coder Basket lets developers and designers share code and interfaces to
                                enable each other to
                                quickly create great looking mobile apps for Android, iOS, Windows, Linux,
                                Mac, Website and Web Server.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Learn more</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="/about">About</a></li>
                                    <li>
                                        <a target="_blank"
                                           href="https://twitter.com/coderbasket">Twitter</a>
                                    </li>
                                    <li>
                                        <a target="_blank"
                                           href="mailto:coderbasketcontact@gmail.com">Contact Email</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">On this site</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/random">Random</a></li>
                                    <li style="visibility:collapse">
                                        <a href="/how-to-contribute">
                                            Submit new
                                            Project
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Popular categories</h2>
                            <div class="separator-2"></div>


                            <div class="tags-cloud">
                                <div class="tag">
                                    <a href="/category/13">login</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/28">signups</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/32">widgets</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/3">calculators</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/11">launchscreen</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/15">messaging</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/16">navigations</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/21">products</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/31">walkthroughs</a>
                                </div>
                                <div class="tag">
                                    <a href="/category/35">articles</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter dark-bg">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Copyright &copy; 2020-2022 Coder Basket by <a class="link-light"
                                                                          href="https://coderbasket.azurewebsites.net/">coderbasket.com</a>. All
                            Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>

@code {

}
