<style>
    .nav-stacked li {
        display: block;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Nunito Sans', sans-serif;
        color: @SiteInfo.TextColor;
        font-weight: 300;
        font-size: 1.6rem;
        list-style: none;
        box-sizing: border-box;
        position: relative;
        display: block;
        float: none;
        line-height: 2rem;
    }

    .nav-pills.nav-stacked:not(.list-style-icons) > li > a:after {
        font-family: "FontAwesome";
        content: "\f101";
        font-size: 12px;
        position: absolute;
        right: 0px;
        margin-left: 40px;
        top: 4px;
        left: 40px;
        color: #d1d1d1;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: none;
    }

    .nav-stacked li a {
        display: inline-flex;
    }

    nav .nav-stacked {
        display: block;
    }
</style>
<footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->

    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-content">
                            <div class="logo-footer">
                                <div>
                                    <img width="30" height="30" src="/img/codericon.svg"
                                         href="~/img/codericon.svg" />

                                </div>

                            </div>
                            <p>
                                Coder Basket lets developers and designers share code and interfaces to
                                enable each other to
                                quickly create great looking mobile apps for Android, iOS, Windows, Linux,
                                Mac, Website and Web Server.  From <a href="https://www.snppts.dev/" style="color:@SiteInfo.AccentColor; font-weight:bolder;" title="https://www.snppts.dev/">https://www.snppts.dev/</a>
                            </p>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Learn more</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul style="display:block;" class="nav nav-pills nav-stacked">
                                    <li>
                                        <a @onclick="(()=>{MainLayout.Current.NavigateToAbout();})">About</a>
                                    </li>
                                    <li>
                                        <a target="_blank"
                                           href="https://twitter.com/coderbasket">Twitter</a>
                                    </li>
                                    <li>
                                        <a target="_blank"
                                           href="mailto:coderbasketcontact@gmail.com">Contact Email</a>
                                    </li>
                                    <li>
                                        <a @onclick="(()=>{MainLayout.Current.ShowPrivacy();})">Privacy</a>
                                    </li>
                                    @{
                                        #if DEBUG
                                         <li>
                                           <a @onclick="(()=>{MainLayout.Current.ShowTexViewer();})">Developer Json</a>
                                         </li>
                                        #endif
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">On this site</h2>
                            <div class="separator-2"></div>
                            <nav>
                                <ul style="display:block;" class="nav nav-pills nav-stacked">
                                    <li><a href="/">Home</a></li>
                                    <li><a target="_blank" href="https://www.snppts.dev/">Xamarin</a></li>
                                    <li><a  href="/developer-tools">Developer Tools</a></li>
                                    <li style="visibility:collapse">
                                        <a>
                                            Submit new
                                            Project
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Popular categories</h2>
                            <div class="separator-2"></div>
                            <div class="tags-cloud">
                                @foreach (var item in categoriesFinal)
                                {
                                    <div  @onclick="(()=>{MainLayout.Current.NavigateToCategory(item);})" style="cursor:pointer;" class="tag">
                                        <style>
                                            .tag_a:hover {
                                                color: black;
                                            }
                                        </style>
                                        <a class="tag_a"   style="color:tan;">@item.ToString().ToLower()</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter dark-bg">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Copyright &copy; @DateTime.Now.Year Coder Basket by <a class="link-light"
                                                                     href="https://coderbasket.github.io/">coderbasket.com</a>. All
                            Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>

@code {
    List<Category> categoriesFinal = new List<Category>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataServiceProvider.ItemsLoaded += (s, e) =>
       {
           RenderItems();
       };
        RenderItems();
    }
    bool rendering = false;
    async void RenderItems()
    {
        if (DataServiceProvider.ItemHasLoaded == false)
            return;
        if (rendering)
            return;
        rendering = true;
        var _snippets = await DataServiceProvider.GetItemsAsync();
        if(_snippets?.Count > 0)
        {
            var categories = _snippets.Select(x => x.Categories).SelectMany(i => i);
            var groupedSorted = categories.GroupBy(n => n).OrderByDescending(g => g.Count());
            categoriesFinal = groupedSorted.Take(10).Select(x => x.FirstOrDefault()).ToList();
            StateHasChanged();
        }
        rendering = false;
    }
    
}
