

<nav>
    <ul class="nav nav-pills nav-stacked nav-small">
        @{
            foreach (var item in Categories)
            {
                <li>
                    <a style="font-weight:bold; cursor:pointer;" @onclick="@(()=>{ NavigateToCategory(item); })">
                        <span>@item</span>
                        <span style="margin-left:8px; font-family:FontAwesome;">&#xf101;</span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>


@code {
    public List<Category> Categories = new List<Category>();

    protected override void OnInitialized()
    {

        base.OnInitialized();
        DataServiceProvider.ItemsLoaded += (s, e) =>
        {
            RenderItems();
        };
        RenderItems();
    }
    async void RenderItems()
    {
        if (DataServiceProvider.ItemHasLoaded == false)
        {
            return;
        }
        var _snippets = await DataServiceProvider.GetItemsAsync();
        var categories = _snippets.Select(x => x.Categories).SelectMany(i => i);
        var groupedSorted = categories.GroupBy(n => n).OrderBy(g => g.FirstOrDefault().ToString());
        var categoriesFinal = groupedSorted.Select(x => x.FirstOrDefault()).ToList();
        Categories = categoriesFinal;
        StateHasChanged();
    }
    void NavigateToCategory(Category categoryParam)
    {
        Navigation.NavigateTo($"category/{categoryParam.ToString()}");
    }
}
