<div class="col-lg-4 col-md-4 col-sm-6 margin-bottom-20 snppt">

    <a href="/snippet/httpsgithub.combrminnickHackerNews">
        <img class="snippet__img"
             src="https://user-images.githubusercontent.com/13558917/66956918-2873bb80-f01a-11e9-839c-6e935c0b606c.gif" />
    </a>

    <h4 class="text-center">
        <a href="/snippet/httpsgithub.combrminnickHackerNews">HackerNews</a>
    </h4>

    <p class="tags text-center">
        CALCULATORS, LAUNCHSCREEN, LOGIN, MESSAGING, NAVIGATIONS, PRODUCTS, SIGNUPS,
        WALKTHROUGHS, ARTICLES, ERRORS, PROFILES
    </p>

    <div class="text-center margin-bottom-20 platform-icons">
        <i class="fa fa-apple"></i>
        <i class="fa fa-android"></i>
        <i class="fa fa-windows"></i>

        <i class="fa fa-star"></i>
        <b class="text">68</b>
    </div>
</div>
@code {

}
