@page "/"
<div class="row">
    @foreach (var item in ProjectItems)
    {
        <ItemView ProjectRepo="item"></ItemView>
    }

</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataServiceProvider.ItemsLoaded += (s, e) =>
        {
               RenderItems();
        };
        RenderItems();
    }

    async void RenderItems()
    {
        if (DataServiceProvider.ItemHasLoaded == false)
        {
            return;
        }
        this.ProjectItems = await DataServiceProvider.GetItemsAsync();
        foreach (var item in this.ProjectItems)
        {
            RepoHelper.GetRepository(item);
        }
        StateHasChanged();
    }
    [Parameter]
    public List<ProjectItem> ProjectItems { get; set; } = new List<ProjectItem>();
}
