<div class="col-lg-4 col-md-4 col-sm-6 margin-bottom-20 snppt">

    <a @onclick="NavigateToDetails">
        @if (ProjectRepo.ImageUrls.Count > 0)
        {
            var url = this.ProjectRepo.ImageUrls.FirstOrDefault();
            <img class="snippet__img"
             src="@url" />

        }
    </a>

    <h4 class="text-center">
        <a @onclick="NavigateToDetails">@ProjectRepo.Title</a>
    </h4>

    <p class="tags text-center">
        @string.Join(", ",this.ProjectRepo.Categories);
    </p>

    <div class="text-center margin-bottom-20 platform-icons">
        <PlatformSupportView ProjectRepo="ProjectRepo"></PlatformSupportView>

        
        @if (this.ProjectRepo.GitHubRepoInfo != null)
        {
            if(this.ProjectRepo.GitHubRepoInfo.Stars > 0)
            {
                <i class="fa fa-star"></i>
                <b class="text">@ProjectRepo.GitHubRepoInfo.Stars</b>
            }
        }
    </div>
</div>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (this.ProjectRepo != null)
        {
            this.ProjectRepo = RepoHelper.LoadRepository(this.ProjectRepo);
            //await this.ProjectRepo.GitHubRepoInfo.LoadInfoAsync(this.ProjectRepo.ProjectUrl);
            StateHasChanged();
        }
    }
    [Parameter]
    public ProjectItem ProjectRepo { get; set; }
    public void NavigateToDetails()
    {
        //Navigation.NavigateTo($"details/{ProjectRepo.Slug}");
        Navigation.NavigateTo($"details/{SiteInfo.FrameWork}/{ProjectRepo.Slug}");
    }
}
