<div class="row">
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>

</div>
<div class="row">
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>
    <CoderBasket.Blazor.Items.ItemView></CoderBasket.Blazor.Items.ItemView>

</div>

@code {

}
