@page "/developer-tools"
<ContentPage>
   <Content>
        <div>

        </div>
   </Content>
</ContentPage>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
